
*{
    padding:0;
    margin: 0;
   
}


body {
    margin:0;
    padding:0;

}
  

.container img{
    margin-left: -55px;
}
@media (min-width: 425px) {
   .container img{
    margin-left: 0;
   }  
}
.logo img {
    width: 335px;
    left: 134px;
    font-weight: 100px;
    font-size: 45px;
    line-height: 79px;
}
html{
    overflow-x: hidden;
   
}

.img-fondo {
    background-image: url(/img/kristina-yadykina-21NRDbMJF94-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    background-position-x: 92%;
    margin:0;
    padding:89px;
    box-sizing: border-box;

}
@media (min-width: 425px){
    .img-fondo{
        height:100vh;
    width: 100vw;
    padding: 0;
    }
}



.container {
    width: 80%;
    /* display: flex;
    flex-direction: column; */

}

img {
    height: 70px;
    
}
.img-fondo p {
    width: auto;
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media(min-width: 425px){
    .img-fondo p {
        width: 514px;
        font-size: 40px;
       line-height: 55px;
       

    }
}
 
button {
    border :0;
    width: 153.19px;
    height: 27.77px;
    left: 14.9px;
    top: 6.08px;
    margin-top: 10px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color:#FFD0D0;
    color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button:hover {
    opacity: 0.8;
  }
@media (min-width: 425px){
    button{
    width: 221px;
    height: 53px;
    left: 149px;
    top: 595px;
    font-size: 24px;
    }
}





.adopta  h1  {
    width: 260px;
    display: inline;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.img-corazon img {
    width: 35.77px;
    height: 34.3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: inline;
}

.adopta  {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #FFBFBF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

}
.gatitos {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
  .gatitos img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  .gatitos img:nth-child(4),
  .gatitos img:nth-child(5) {
    display: none;
  }
  @media (min-width: 425px) {
    .adopta {
      flex-direction: row;
      gap: 40px;
     
    }
    .gatitos {
      justify-content: space-between;
      width: 1062px;

    }
    @media (min-width: 425px) {
        .gatitos img{
        width: 131px;
        height: 131px;
        }
    }
    .gatitos img:nth-child(4),
    .gatitos img:nth-child(5) {
      display: inline-flex;
    }
}

.formulario {
    background-image: url(/img/image\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:auto;
    margin:0;
}

@media(min-width: 425px){
    .formulario {
        width: 100vw;
        height: 100vh;
    }
}
 

form {
    width: auto;
    margin: 17px;
    background: #FFBFBF;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #FFBFBF;
    order:1;
}
@media(min-width: 425px){
    form {
        margin: auto;
        width: 560px;
        order: 0;
    }
}


input, textarea ,label {
    width:100%;
    margin-bottom: 20px;
    padding:7px;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 20px;
    font-size: 26px;
    color:#f7afaf;
    border: none;
    font-family: 'Alata', sans-serif;


}
label{
    color: #ffffff;
}

.button1 {
    display: flex;
    justify-content:flex-end;
    

}


textarea{
    min-height: 100px;
    max-width: 200px;
    max-width: 100%;

}
.container-formulario{
    display:grid;
    grid-template-rows: auto auto;
    
    align-items: center;
}
@media (min-width: 425px){
    .container-formulario{
        grid-template-columns: auto auto;
    }
}

.formulario p , .formulario .h1{
    width:377px;
    

}

.text {
    padding: 20px;
    background-color:#FFBFBF;
    box-sizing: border-box;
    border: 1px solid #ffbfbf;
}

.text h1 {
    font-family: 'Alata', sans-serif;
    color: #ffffff;
    width: 367px;
    font-size: 35px;
    line-height: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text p {
    font-family: 'Alata', sans-serif;
    height: 167px;
    font-weight: 400;
    font-size: 31px;
    line-height: 35px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    color: #FFFFFF;
}
 
.icon {
    background-image: url(/img/image\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content:center;
}
/*@media (min-width: 425px) {
    .icon img{
   display:flex;
}
}*/

.container1{
    max-width: 1080px;
}

.container1 img {
    height: 50px;
    
}

@media (min-width: 425px){
    .container1 img {
        display: flex;
            height: 70px;
    }

}

 .icon .container1  {
    display:flex;
    justify-content: space-between;
  

 }
@media (min-width: 425px) {
    .icon .container1 {
        width: 979px;
        padding: 10px;
}
}

 .icon-inicial1 {
    display: flex;
    justify-content: flex-end;
 }



 .icon0{
     max-width: 980px;
 }

/*.icon0 img {
    margin-right: auto;
}*/




